* {
	Box-sizing: border-box
} 

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: black;
    background-color: #f1dca7;
    
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;

}

button{
    font-size: 20px;
    margin: 20px;
}

h3{
    text-decoration: underline;
}

.pic-text{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

.long-text{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    word-wrap: normal;
    height: 200px;
    width: 500px;
    margin-left: 30px;

}



.lists{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.text{
    display: flex;
    flex-direction:column;
    border: 2px solid black;


}

.header-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    background: #d9ae94;
}

#correct-answers{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    background: #d9ae94;
    visibility: hidden;
    
}

#charmander-text{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    word-wrap: normal;
    height: 350px;
}

#squirtle-text{
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    word-wrap: normal;
    height: 300px;
}